extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1 CHECK OUT THESE CUTE PETS
  ul
    each pet in pets 
      li
        a(href=`/pets/${pet.id}`)
          img(id='image' src=pet.image)
        a(href=`/pets/${pet.id}`)= pet.name
        span(id='description')= pet.description 
          