extends layout 
append head 
    link(rel='stylesheet' href='/stylesheets/search.css')
block content 
  div.error
    h1 To access user profiles you must be logged in
    h2 Please log in by signing up or logging in to an account