extends layout
append head 
    link(rel='stylesheet' href='/stylesheets/search.css')
block content 
  div.error
    h1 No results found for the search term provided.
    h2 Please search for a valid Pet Type from the options below 
    div.valid
        h4 Cat
        h4 Dog
        h4 Hamster
        h4 Fish
        h4 Turtle
        h4 Snake
        h4 Lizard
        h4 Birds 
        h4 Rabbits
        h4 Guinea Pig
        h4 Ferrets
        h4 Rats
        h4 Frogs
        h4 Mice
        h4 Horse
