extends layout 
include utils
block content
  +validationErrorSummary(errors)
  form(id='loginForm' action="/users/login" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    div 
      label(for="email") Email:
      input(type="email" id='emailInput' name="email")
    div 
      label(for="password") Password:
      input(type="password" id='passwordInput' name="password")
    div 
      button(type="submit") Log In
    div
      button(id='demo-btn') Demo Login