mixin validationErrorSummary(errors)
  if errors
    div(class="alert" role="alert" style="color:red; text-align:center;")
      p The following error(s) occurred:
      ul
        each error in errors
          li=error
