 
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

/* #firstContainer{
    display: flex;
    align-items: center;
    justify-content: center;

} */

.font{
    font-family: "Luckiest Guy"
}

