
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .6);
    padding: 10px;
    text-decoration: none;
  }

.prof {
    list-style-type: none;
  }


/* .scrollbar {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: hidden;
} */

/* .scrollbar {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
} */


h1 {
    color: black;
    display: flex;
    justify-content: center;
    margin: 20px;
}


#comments-box{
    width: 200px;
    height: 50px;
    position: relative;
    top: 15px;
    right: 15px;
}

#comments-label{
    font-size: 10px;

}


#submit-comment {
    width: 50px;
    font-size: 10px;
    height: 15px;
}

.like-button{
    width: 70px;
    height: 20px;
    position: relative;
    top: 45px;
}

#logoutBtn:hover {
    background-color: #9dba94;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  
}

#petsContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #name {
    display: flex;
    flex-direction: column;
    font-family: 'Luckiest Guy';
    font-size: 20px;
} */

/* #description {
    position: relative;
    top: 20px;
    text-align: center;
} */
/* #outside-box{

    width:50px;

} */
#firstContainer {
    display: flex;
    /* grid-template-columns: 75% 25%; */
    align-items: center;
    justify-content: center;
}

/* #addContainer {
    border: 2px solid black;

} */

.element{
    border: 50px;
}

/* #add { */
    /* color: #EDF5E1;
    border-radius: 15px 50px;
    background: #05386B;
    padding: 40px;
    margin-bottom: 20px;
    width: 340px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #05386B;
    position: sticky;
    top: 100px;
    left: 100px; */
    /* width: 330px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px 15px;
    position: sticky;
    top: 40px;
    left: 50px; */

/* } */

a {
    text-decoration: none;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #DABCB2;
}

#description {
    font-family: 'Playfair Display', serif;
    position: relative; 
    top: 20px;
    margin-right: 20px;
    font-size: 14px;
}




.petImage {
    margin: 8px;
}

.column {
    display: flex; 
    flex-direction: column; 
    inline-size: 150px;
    overflow-wrap: break-word;
    box-sizing: content-box; 
}

#description-label{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

#likes {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2px;
}

#likes-value {
    position: relative;
    top: 45px; 

}

#contributors {
    font-family: 'Playfair Display', serif;
    font-size: 16px;

}








