.navbar {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    padding: 10px;
    text-decoration: none;
  }

.prof {
    list-style-type: none;
  }


h1 {
    color: black;
    display: flex;
    justify-content: center;
}


#comments-box{
    width: 200px;
    height: 50px;
    position: relative;
    top: 70px;
    right: 15px;
}

#comments-label{
    font-size: 10px;

}

#outside-box{
    width: 600px;
}


