.navbar {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    padding: 10px;
    text-decoration: none;
  }

.prof {
    list-style-type: none;
  }


h1 {
    color: black;
    display: flex;
    justify-content: center;
}

