.navbar {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 15px;
  text-decoration: none;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  position: relative;
  bottom: 5px;
}

.searchbar{
  position: relative;
  top: 7px;
}

.navbarWelcome{
  position: relative;
  top: 8px;
}
.logo-image {
  vertical-align: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  bottom: 12px;
}

.addPet {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  bottom: 12px;
}
