.navbar {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

.logo-image {
  vertical-align: left;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.addPet {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
