h1 {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Luckiest Guy';
}

h2 {
    font-family: 'Playfair Display', serif;
    margin-left: 10px;
}

.firstContainer {
  border: solid #fff;
  border-width: 6px 6px 20px 6px;
  box-shadow: 1px 1px 5px #333;
  -webkit-box-shadow: 1px 1px 5px #333;
  -moz-box-shadow: 1px 1px 5px #333;
  height: 750px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #f5f1ea;
}

.outside {
  display: flex;
  align-items: center;
    justify-content: center;
}

.picture {
  border: 2px solid rgb(199, 195, 195);
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dcd2c8;
  margin-top: 20px;
}

#commentBox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.comments-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  display: flex;
  flex-direction: column-reverse;
}

.words {
  margin-top: 20px;
}

.lowered {
  margin-top: 20px;
}

.ownerInfoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.petInfoBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    /* margin: 5px; */
    border: none;
    border-radius: 5px;
    padding: 4px;
    color: white;
    background-color: #a8a4a4;
    font-family: "Luckiest Guy";
    font-weight: normal;
    width: 100px;
    height: 30px
  }

  button:hover {
    background-color: #9dba94;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  body{
      background-color: white;
  }
