h1 {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Luckiest Guy';
}

.firstContainer {
  border: solid #fff;
  border-width: 6px 6px 20px 6px;
  box-shadow: 1px 1px 5px #333;
  -webkit-box-shadow: 1px 1px 5px #333;
  -moz-box-shadow: 1px 1px 5px #333;
  height: 750px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.outside {
  display: flex;
  align-items: center;
    justify-content: center;
}

.picture {
  border: 2px solid rgb(199, 195, 195);
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comments-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  display: flex;
  flex-direction: column-reverse;
}

.words {
  margin-top: 20px;
}

.lowered {
  margin-top: 20px;
}
