body{
  background-color: #DCB6;

}
h1 {
  color: #555555;
}
h2 {
  font-weight: bold;
}
/* h4{

} */

.petLikes {
  display: none;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.commentsTable {
  width: 100%;
  display: none;
}

.profileInfoBox {
  background-color: #DCB6;
  display: flex;
  padding: 20px;
  height: 400px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
}

.dataTables {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.tables {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  background-color: #dabcb2;

}

.userTable {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 30%;
}

.petsTable {
  display: none;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  width: 200px;
}
textarea {
  width: 200px;
}
select {
  width: 200px;
  margin: 10px;
}
.searchbar {
  width: 20%;
}
.search {
  width: 60%;
  transition: width 0.4s ease-in-out;
}
.search:focus {
  width: 100%;
}

button {
  /* margin: 5px; */
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: white;
  background-color: #a8a4a4;
  font-family: "Luckiest Guy";
  font-weight: normal;
  width: 100px;
  height: 30px
}

button:hover {
  background-color: #9dba94;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.comment {
  border: 2px solid black;

  width: 400px;
}

.hidden {
  display: none;
}
.tabledata {
  border: solid black;
}
.allComments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commentDiv {
  width: 60%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 25px;
  margin: 10px;
  background-color: #B9C5;
  box-shadow: 5px 10px 8px rgb(216, 209, 209);
}
.content {
  inline-size: 60%;
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: left;
}
.inner {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
/* .pet {
  padding: 10px;
  display: flex;
  flex-direction: column;
} */
.pic {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 25px;
}
a {
  text-decoration: none;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
#editProfileBtn {
  transition-duration: 0.4s;
  background-color: #797575;
  color: black;
}
#editProfileBtn:hover {
  background-color: #008cba;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a.pets,
a.likes,
a.comments {
  color: black;
}
a.pets:hover,
a.likes:hover,
a.comments:hover {
  background-color: #B16B5E;
  color: white;
}
.cancel {
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: white;
  background-color: #a8a4a4;
  font-family: "Luckiest Guy";
  font-weight: normal;
  width: 100px;
}
.cancel:hover {
  background-color: #9dba94;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
