h1 {
  color: #555555;
}

.petLikes {
  display: none;
}

.tagsTable {
  display: none;
}

.collectionsTable {
  display: none;
}

.commentsTable {
  display: none;
}

.profileInfoBox {
  background-color: #4552ce;
  display: flex;
  padding: 20px;
  height: 400px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.dataTables {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.tables {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
}

.userTable {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 30%;
}

.petsTable {
  display: none;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  width: 200px;
}
textarea {
  width: 200px;
}
select {
  width: 200px;
  margin: 10px;
}
.searchbar {
  width: 20%;
}
.search {
  width: 60%;
  transition: width 0.4s ease-in-out;
}
.search:focus {
  width: 100%;
}
button {
  /* margin: 5px; */
  border: none;
  border-radius: 5px;
  padding: 4px;
  color: white;
  background-color: #bf6415;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100px;
}

.comment {
  border: 2px solid black;
  margin: 5px;
  width: 400px;
}
