body {
  /* background-image: url("https://i.redd.it/xcwwr2e9ji171.jpg"); */
  padding: 50px;
  font: 20px 'Playfair Display', serif;
}

/* a {
  color: #00b7ff;
}

* {
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
body,
header,
nav {
  font-size: 20px;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  font-family: 'Luckiest Guy';
}

h1 {
  font-size: 2rem;
}
