#signinForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    /* top: 10px; */
    margin: 200px;
}


.padding{
    padding: 20px;
    padding: 10px;
    font-family: 'Luckiest Guy';
}

.lowered{
    margin-top: 20px;
}

form{
    margin-top: 13px;
}

a{
    margin-top: 13px;
}

/* h4{
    font-family: 'Luckiest Guy';
    font-size: 100px;
    font-weight: bold;
} */
