#signinForm {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 10px;
    margin: 360px 200px 0px 680px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 500px;
    width: 500px;
}

.padding {
    padding: 20px;
    padding: 10px;
    font-family: 'Luckiest Guy';

}

.lowered {
    margin-top: 20px;
}

h4 {
    font-family: 'Luckiest Guy';
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
}