#loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 12px;
    margin: 250px 200px 0px 680px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 500px;
    width: 500px;
}


.padding {
    padding: 10px;
    font-family: 'Luckiest Guy';
}

.lowered {
    margin-top: 20px;
}

.down {
    margin-top: 10px;
}

h3 {
    font-family: 'Luckiest Guy';
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}