
#loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    top: 12px;
    margin: 200px;
}

.padding {
    padding: 10px;
    font-family: 'Luckiest Guy';
}

.lowered{
    margin-top: 20px;
}

.down{
    margin-top: 10px;
}

form{
    margin-top: 13px;
}

a{
    margin-top: 13px;
}

h3{
    font-family: 'Luckiest Guy';
    font-size: 100px;
    font-weight: bold;
}
