
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.font{
    font-family: "Luckiest Guy";
    margin: 2px;
    padding: 10px;

}

#submitBtn{
    margin-top: 40px;
}
